<template>
<div class = "loginFrame">
    <el-form ref = "account" :model = "account" :rules = "rules" label-position = "left" 
    class = "demo-ruleForm login-container">
       <el-form-item label = "账号:" prop = "username" label-width = "60px">
          <el-input type = "text" placeholder = "请输入您的账号" v-model ="account.username" 
          clearable></el-input>
      </el-form-item>
      <el-form-item label = "密码:" prop = "password" label-width = "60px">
          <el-input type = "password" placeholder = "请输入密码" v-model ="account.password" 
          clearable></el-input>
      </el-form-item>
      <el-form-item>
          <el-button @click ="resetForm('account')">重置</el-button> 
          <el-button type = "primary" @click ="submitForm('account')">登录</el-button> 
      </el-form-item>
    </el-form>
</div>

</template>

<script>

export default {
    name: 'login',
    data() {
        return {
         // message:"",
          logining: false,
         /* note: {
              position:"absolute",
              top:"0px",
              left:"0px",
              width:"100%",
              height:"100%",
          },*/
          account: {
              username:"",
              password:"",
          },
          rules: {
              username: [
                  {required: true, message: "请输入账号", trigger: "blur"},
              ],
              password: [
                  {required: true, message: "请输入密码", trigger: "blur"},
              ]
          },
        };
    },
    methods: {
        submitForm(account) {
            let self = this;
            this.$refs[account].validate((valid) => {
            if (valid) {
                this.login(self);
            } else {
                console.log('error submit!!');
                return false;
            }
            });
        },
        resetForm(account) {
          this.$refs[account].resetFields();
        },
        login(self) {
          let loginParam = {
              account: self.account
          }
          self.$http.get('https://www.easy-mock.com/mock/5b8e8a19189f3722c8cb6e70/example/login',
           this.loginParam)
          .then(function(response) {
              if(response.data.success == true) {
                  alert("登陆成功！Yeah");
                  self.$router.push("/dashboard");
              } else {
                  alert("登录失败");
              }
          }).catch(function(error) {
              console.log(error);
          })
      }
    }
}
</script>

<style>

.login-container {
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.06), 0 1px 0px 0 rgba(0,0,0,0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 180px auto;
    width: 350px;
    padding: 35px 35px 15px 35px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}
  
</style>